* {box-sizing: border-box;}

.container{
 height: 100vh;
 width: 100vw;
 display: flex;
 align-items: center;
 padding-left: 30px;
}

.img-zoom-container {
  position: relative;
  display: flex;
  width: 100%;
  /* margin-top: 20px; */
  /* gap:30px */
  
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 100px;
  height: 100px;
  background-color: rgba(135,206,235,0.3);
}
.img-zoom-lens-hidden {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 100px;
  height: 100px;
 visibility: hidden;
}



.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 40%;
  height: 500px;
}
.img-zoom-result-hidden {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 40%;
  height: 500px;
  visibility: hidden;
}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
  overflow: hidden;
}

.alert-box {
  position: fixed;
  top:5vh;
  left: 5vw;
  width: 90vw;
  padding: 16px;
  z-index: 100;
  background: white;
  box-shadow: 0 2px 8px rbga(0, 0, 0, 0.26);
  overflow: hidden;
}

.alert-box-actions {
  text-align: right;
}